<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>Alarm Clock</string>
	<key>CFBundleIconFile</key>
	<string>AlarmClock.icns</string>
	<key>CFBundleIdentifier</key>
	<string>com.digitallity.alarmclock2</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>${PRODUCT_NAME}</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>416</string>
	<key>CFBundleShortVersionString</key>
	<string>2.4.6</string>
	<key>LSUIElement</key>
	<string>1</string>
	<key>NSMainNibFile</key>
	<string>MainMenu</string>
	<key>NSPrincipalClass</key>
	<string>MyApplication</string>
	<key>NSAppleScriptEnabled</key>
    <string>YES</string>
	<key>OSAScriptingDefinition</key>
    <string>AlarmClock.sdef</string>
	<key>SUFeedURL</key>
	<string>http://www.robbiehanson.com/appcast/alarmclock.xml</string>
	<key>SUCheckAtStartup</key>
	<false/>
</dict>
</plist>
